// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
	background-color:none;
}

.width220 {
  width:220px;
}

.width1000 {
  width:1010px;
}

p.help-block {
  font-size:10px;
  margin:0 10px;
  font-style:italic;
}

.carousel-inner {
  text-align:center;
}

.carousel .item > img {
  display:inline-block;
}

.badge.badge-info.name {
  margin-right:5px;
}

.ability {
  text-align:center;
}

.right {
float:right;
}

.left {
  float:left;
}

.center {
  text-align:center;
}